<form name="loginForm">
    <div class="modal-header">
        <h3 class="modal-title">Login to my account</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" >
            Email address: <input type="text" class="form-control" ng-model="auth.user.email" required/>
            Password: <input type="password" class="form-control" ng-model="auth.user.password" required/>
            <div ng-show="auth.hasError" style="color:red;">{{auth._error}}</div>
        </div>
    </div>
    <div class="modal-footer">
        <a ng-click="auth.createUserModal()">New User</a>
        <button class="btn btn-primary" type="button" ng-click="auth.login()" ng-disabled="loginForm.$invalid">Sign In</button>
        
    </div>
</form>