body {
    background-color: beige;
}

.room-container {
    position: fixed;
    width: 200px;
    color:beige;
    background-color:dimgray ;
    font-size: 18px;
    top: 0;
    right: auto;
    left: 0;
    float: left;
    bottom: 0;
    padding-top: 10px;
    font-family: sans-serif;
}

.room-container .link {
    width: 200px;
    margin-right: 10px;
    float: left;
    padding-left: 10px;
}

.room-container .link:hover {
    color:dimgray ;
    background-color: beige;
}

.room-container .new-room {
    color: dimgray;
    margin: 5px;
}

.room-container .title {
    font-weight: 200;
    font-family: sans-serif;
    padding-left: 5px;
    border-bottom: 1px solid;
    border-bottom-width: thick;
    border-bottom-color: beige;
}

