body {
    background-color: beige;
}

.room-container {
    position: fixed;
    width: 200px;
    color:beige;
    background-color:dimgray ;
    font-size: 18px;
    top: 0;
    right: auto;
    left: 0;
    float: left;
    bottom: 0;
    padding-top: 5px;
    font-family: sans-serif;
}

.room-container .link {
    width: 200px;
    margin-right: 10px;
    float: left;
    padding-left: 10px;
}

.room-container .link:hover {
    color:dimgray ;
    background-color: beige;
}

.room-container .new-room {
    color: dimgray;
    margin: 5px;
}

.room-container .title {
    font-weight: 200;
    padding-left: 10px;
    margin-bottom: 40px;
    font-family: sans-serif;
    border-bottom: 1px solid;
    border-bottom-width: thick;
    border-bottom-color: beige;
}

.message-container {
    margin-left: 200px;
    margin-top: 10px;
}

.message-container .room-title {
    margin: 40px;
    font-size: 5rem;
}

.message-container .message {
    margin: 20px 20px 20px 50px;
    padding-right: 30px;
    padding-top: 10px;
    border-top-style: solid;
    border-top-color: black;
    font-size: 2rem;
}

.sentAt {
    float: right;
    /*text-align: right;*/
}