body {
    background-color: beige;
}

.room-container {
    position: fixed;
    width: 200px;
    color:beige;
    background-color:dimgray ;
    font-size: 18px;
    top: 0;
    right: auto;
    padding-left: 5px;
    float: left;
    bottom: 0;
    padding-top: 5px;
    font-family: sans-serif;
}

.room-container .link {
    width: 200px;
    margin-right: 10px;
    float: left;
    padding-left: 10px;
}

.room-container .link:hover {
    color:dimgray ;
    background-color: beige;
}

.room-container .new-room {
    color: dimgray;
    margin: 5px;
}

.room-container .title {
    font-weight: 200;
    padding-left: 10px;
    font-family: sans-serif;
    border-bottom: 1px solid;
    border-bottom-width: thick;
    border-bottom-color: beige;
    margin-bottom: 100px; 
}

.message-container {
    margin-left: 200px;
    margin-top: 10px;
}

.message-container .room-title {
    margin: 40px;
    font-size: 4rem;
}

.message-container .message {
    margin: 20px 20px 20px 50px;
    padding-right: 30px;
    padding-top: 10px;
    border-top-style: solid;
    border-top-color:lightgrey;
    font-size: 14px;
}

.message-container .welcome {
    float: right;
}

.message-container .signout {
    color:black;
    cursor: pointer;
    font-size:12px;
    margin-left: 10px;
    margin-right: 20px;
}

.sentAt {
    float: right;
    font-size: 1rem;
    color: lightgrey;
}

.message-container .message-input {
    position:fixed;
    bottom: 0;
    margin-bottom: 40px;
    margin-left: 40px;
    height: auto;
}